
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image:url(assist/BAG.jpeg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
}


.container {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}


.search {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.search input {
  flex: 1;
  
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

.search input:focus {
  border-color: #6e7c87;
  box-shadow: 0 0 5px rgba(79,172,254,0.5);
}

.search button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: #132e45;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search button:hover {
  background-color: #576262;
}

.weatherBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.weatherBox img {
  width: 100px;
  height: 100px;
}

.weatherBox p {
  font-size: 16px;
  color: #333;
}

#temperature {
  font-size: 28px;
  font-weight: bold;
}


@media screen and (max-width: 400px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  .search input, .search button {
    font-size: 14px;
    padding: 8px;
  }

  .weatherBox p {
    font-size: 14px;
  }

  #temperature {
    font-size: 24px;
  }
}
